---
version: 2
interactions:
    - id: 0
      request:
        host: app.asana.com
        form:
            limit:
                - "100"
            opt_fields:
                - email,name
        headers:
        url: https://app.asana.com/api/1.0/workspaces/9999999/users?limit=100&opt_fields=email%2Cname
        method: GET
      response:
        body: '{"data":[{"gid":"1000000000000001","email":"jane@example.com","name":"Jane Doe"}]}'
        headers:
            Asana-Change:
                - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
                - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
                - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
                - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
                - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
                - name=new_user_task_lists;info=https://forum.asana.com/t/update-on-our-planned-api-changes-to-user-task-lists-a-k-a-my-tasks/103828
                - name=cross_workspace_deprecation;info=https://forum.asana.com/t/change-get-projects-get-users-and-get-tags-will-require-a-workspace-or-team/1031581
                - name=new_goal_memberships;info=https://forum.asana.com/t/launched-team-sharing-for-goals/378601;affected=true
                - name=teamless_projects;info=https://forum.asana.com/t/change-teamless-projects/929205
                - name=goal_sals_api;info=https://forum.asana.com/t/new-change-goal-access-levels-admin-editor-and-viewer/1089758
            Content-Type:
                - application/json; charset=UTF-8
            X-Asana-Api-Version:
                - "1.1"
            X-Asana-Cell:
                - prod-us1-asana-cell15
        status: 200 OK
        code: 200
        duration: 268.294ms
