---
version: 2
interactions:
    - id: 0
      request:
        host: betterstack.com
        form:
            page:
                - "1"
            team_name:
                - acme
        headers:
        url: https://betterstack.com/api/v2/team-members?page=1&team_name=acme
        method: GET
      response:
        body: '{"data":[{"id":"101","type":"team_member","attributes":{"email":"alice@example.com","first_name":"Alice","last_name":"Smith","created_at":"2026-06-09T13:24:53.712Z","role":"admin","mobile_app_platforms":[]}}],"pagination":{"first":"https://betterstack.com/api/v2/team-members?page=1&team_name=acme","last":"https://betterstack.com/api/v2/team-members?page=1&team_name=acme","prev":null,"next":null}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100ms
