---
version: 2
interactions:
    - id: 0
      request:
        host: api.bitbucket.org
        form:
            fields:
                - +values.user.email
            pagelen:
                - "100"
        headers:
        url: https://api.bitbucket.org/2.0/workspaces/acme/members?fields=%2Bvalues.user.email&pagelen=100
        method: GET
      response:
        body: '{"values": [{"type": "workspace_membership", "user": {"display_name": "Jane Doe", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7B00000000-0000-0000-0000-000000000001%7D"}, "avatar": {"href": "https://secure.gravatar.com/avatar/00000000000000000000000000000000?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAS-2.png"}, "html": {"href": "https://bitbucket.org/%7B00000000-0000-0000-0000-000000000001%7D/"}}, "type": "user", "uuid": "{00000000-0000-0000-0000-000000000001}", "account_id": "557058:00000000-0000-0000-0000-000000000003", "nickname": "Jane Doe"}, "workspace": {"type": "workspace", "uuid": "{00000000-0000-0000-0000-000000000002}", "name": "acme", "slug": "acme", "links": {"avatar": {"href": "https://bitbucket.org/workspaces/acme/avatar/?ts=1700000000"}, "html": {"href": "https://bitbucket.org/acme/"}, "self": {"href": "https://api.bitbucket.org/2.0/workspaces/acme"}}}, "links": {"self": {"href": "https://api.bitbucket.org/2.0/workspaces/acme/members/%7B00000000-0000-0000-0000-000000000001%7D"}}}], "pagelen": 100, "size": 1, "page": 1}'
        headers:
            Atl-Request-Id:
                - 559d0e8f-fb0d-48ca-82f6-7abe3ac08181
            Atl-Traceid:
                - 559d0e8ffb0d48ca82f67abe3ac08181
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"895c498e82257d41eca02934d81c7d99"'
            X-Accepted-Oauth-Scopes:
                - account
            X-Consumer-Client-Id:
                - XgnpvuhrnWXn7EbHwv
            X-Credential-Type:
                - oauth2
            X-Dc-Location:
                - Micros-3
            X-Oauth-Scopes:
                - team, account
            X-Render-Time:
                - "0.1844468116760254"
            X-Request-Count:
                - "2681"
            X-Static-Version:
                - 30ea8453b1ad
            X-Token-Id:
                - "143407729"
            X-Usage-Input-Ops:
                - "0"
            X-Usage-Output-Ops:
                - "0"
            X-Usage-System-Time:
                - "0.005158"
            X-Usage-User-Time:
                - "0.073080"
            X-Used-Mesh:
                - "False"
            X-Version:
                - 30ea8453b1ad
            X-View-Name:
                - bitbucket.apps.workspaces.api.v20.handlers.WorkspaceMembersListHandler
        status: 200 OK
        code: 200
        duration: 384.293042ms
