---
version: 2
interactions:
    - id: 0
      request:
        host: api.clickup.com
        headers:
        url: https://api.clickup.com/api/v2/team/9999999
        method: GET
      response:
        body: '{"team":{"id":"9999999","name":"Reki","color":"#40BC86","avatar":null,"members":[{"user":{"id":100000001,"username":"Jane Doe","email":"jane@example.com","color":"#595d66","profilePicture":null,"initials":"JD","role":1,"role_subtype":0,"role_key":"owner","custom_role":null,"last_active":"1700000060000","date_joined":"1700000000000","date_invited":"1700000000000"}}],"roles":[{"id":1,"name":"owner","custom":false},{"id":2,"name":"admin","custom":false},{"id":3,"name":"member","custom":false},{"id":4,"name":"guest","custom":false}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Krakend:
                - Version undefined
                - Version undefined
            X-Krakend-Completed:
                - "false"
                - "false"
            X-Ratelimit-Limit:
                - "100"
            X-Ratelimit-Remaining:
                - "99"
            X-Ratelimit-Reset:
                - "1778258096"
            X-Received-From:
                - shard-prod-eu-west-1-2
        status: 200 OK
        code: 200
        duration: 242.702334ms
