---
version: 2
interactions:
    - id: 0
      request:
        host: api.datadoghq.com
        body: ""
        form:
            page[number]:
                - "0"
            page[size]:
                - "100"
        headers:
        url: https://api.datadoghq.com/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=100
        method: GET
      response:
        body: |
            {
              "data": [
                {
                  "type": "users",
                  "id": "abc-111",
                  "attributes": {
                    "email": "alice@example.com",
                    "name": "Alice Example",
                    "handle": "alice@example.com",
                    "title": "Security Engineer",
                    "disabled": false,
                    "status": "Active",
                    "verified": true,
                    "service_account": false,
                    "mfa_enabled": true,
                    "created_at": "2025-01-02T03:04:05.000000+00:00"
                  },
                  "relationships": { "roles": { "data": [ { "type": "roles", "id": "role-admin" } ] } }
                },
                {
                  "type": "users",
                  "id": "abc-222",
                  "attributes": {
                    "email": "bob@example.com",
                    "name": "Bob Example",
                    "handle": "bob@example.com",
                    "disabled": true,
                    "status": "Disabled",
                    "verified": true,
                    "service_account": true,
                    "mfa_enabled": false,
                    "created_at": "2025-02-02T03:04:05.000000+00:00"
                  },
                  "relationships": { "roles": { "data": [ { "type": "roles", "id": "role-standard" } ] } }
                }
              ],
              "included": [
                { "type": "roles", "id": "role-admin", "attributes": { "name": "Datadog Admin Role" } },
                { "type": "roles", "id": "role-standard", "attributes": { "name": "Datadog Standard Role" } }
              ],
              "meta": { "page": { "total_count": 2, "total_filtered_count": 2 } }
            }
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
