---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        form:
            per_page:
                - "100"
        headers:
        url: https://api.github.com/orgs/acme-corp/members?per_page=100
        method: GET
      response:
        body: '[{"login":"jdoe","id":100001,"node_id":"XYZQ6VXNlcjEwMDAw","avatar_url":"","gravatar_id":"","url":"https://api.github.com/users/jdoe","html_url":"https://github.com/jdoe","followers_url":"https://api.github.com/users/jdoe/followers","following_url":"https://api.github.com/users/jdoe/following{/other_user}","gists_url":"https://api.github.com/users/jdoe/gists{/gist_id}","starred_url":"https://api.github.com/users/jdoe/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jdoe/subscriptions","organizations_url":"https://api.github.com/users/jdoe/orgs","repos_url":"https://api.github.com/users/jdoe/repos","events_url":"https://api.github.com/users/jdoe/events{/privacy}","received_events_url":"https://api.github.com/users/jdoe/received_events","type":"User","user_view_type":"public","site_admin":false}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"ff2048ab2918047a22ee474a92af74dff9570f18dc6b59556889b02a90e5291f"
            Github-Authentication-Token-Expiration:
                - 2026-04-25 13:21:33 +0200
            X-Accepted-Github-Permissions:
                - members=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4999"
            X-Ratelimit-Reset:
                - "1774534824"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "1"
        status: 200 OK
        code: 200
        duration: 282.34525ms
    - id: 1
      request:
        host: api.github.com
        form:
            filter:
                - 2fa_disabled
            per_page:
                - "100"
        headers:
        url: https://api.github.com/orgs/acme-corp/members?filter=2fa_disabled&per_page=100
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"66d4a6c8d79df8b01adad18bc0608ce26f32b16b3bf0d61ec689cc3a8cda2c37"'
            Github-Authentication-Token-Expiration:
                - 2026-04-25 13:21:33 +0200
            X-Accepted-Github-Permissions:
                - members=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4998"
            X-Ratelimit-Reset:
                - "1774534824"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "2"
        status: 200 OK
        code: 200
        duration: 222.556791ms
    - id: 2
      request:
        host: api.github.com
        headers:
        url: https://api.github.com/orgs/acme-corp/memberships/jdoe
        method: GET
      response:
        body: '{"url":"https://api.github.com/orgs/acme-corp/memberships/jdoe","state":"active","role":"admin","organization_url":"https://api.github.com/orgs/acme-corp","user":{"login":"jdoe","id":100001,"node_id":"XYZQ6VXNlcjEwMDAw","avatar_url":"","gravatar_id":"","url":"https://api.github.com/users/jdoe","html_url":"https://github.com/jdoe","followers_url":"https://api.github.com/users/jdoe/followers","following_url":"https://api.github.com/users/jdoe/following{/other_user}","gists_url":"https://api.github.com/users/jdoe/gists{/gist_id}","starred_url":"https://api.github.com/users/jdoe/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jdoe/subscriptions","organizations_url":"https://api.github.com/users/jdoe/orgs","repos_url":"https://api.github.com/users/jdoe/repos","events_url":"https://api.github.com/users/jdoe/events{/privacy}","received_events_url":"https://api.github.com/users/jdoe/received_events","type":"User","user_view_type":"public","site_admin":false},"direct_membership":true,"enterprise_teams_providing_indirect_membership":[],"organization":{"login":"acme-corp","id":100002,"node_id":"O_kgDOFake0Rg","url":"https://api.github.com/orgs/acme-corp","repos_url":"https://api.github.com/orgs/acme-corp/repos","events_url":"https://api.github.com/orgs/acme-corp/events","hooks_url":"https://api.github.com/orgs/acme-corp/hooks","issues_url":"https://api.github.com/orgs/acme-corp/issues","members_url":"https://api.github.com/orgs/acme-corp/members{/member}","public_members_url":"https://api.github.com/orgs/acme-corp/public_members{/member}","avatar_url":"","description":""}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"5f52c04e58dd224bb535f57f82fa45937ab13a419b2fafa841ee9392cc8dc444"
            Github-Authentication-Token-Expiration:
                - 2026-04-25 13:21:33 +0200
            X-Accepted-Github-Permissions:
                - members=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4997"
            X-Ratelimit-Reset:
                - "1774534824"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "3"
        status: 200 OK
        code: 200
        duration: 207.5905ms
    - id: 3
      request:
        host: api.github.com
        headers:
        url: https://api.github.com/users/jdoe
        method: GET
      response:
        body: '{"login":"jdoe","id":100001,"node_id":"XYZQ6VXNlcjEwMDAw","avatar_url":"","gravatar_id":"","url":"https://api.github.com/users/jdoe","html_url":"https://github.com/jdoe","followers_url":"https://api.github.com/users/jdoe/followers","following_url":"https://api.github.com/users/jdoe/following{/other_user}","gists_url":"https://api.github.com/users/jdoe/gists{/gist_id}","starred_url":"https://api.github.com/users/jdoe/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jdoe/subscriptions","organizations_url":"https://api.github.com/users/jdoe/orgs","repos_url":"https://api.github.com/users/jdoe/repos","events_url":"https://api.github.com/users/jdoe/events{/privacy}","received_events_url":"https://api.github.com/users/jdoe/received_events","type":"User","user_view_type":"public","site_admin":false,"name":"Jane Doe","company":null,"blog":"","location":"","email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":12,"public_gists":3,"followers":10,"following":5,"created_at":"2009-05-06T20:34:11Z","updated_at":"2026-02-24T10:26:18Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"c747d94dd20c979144fc5f2bdd4e88145cf97bb5c5386d56c1c779e980671332"
            Github-Authentication-Token-Expiration:
                - 2026-04-25 13:21:33 +0200
            Last-Modified:
                - Tue, 24 Feb 2026 10:26:18 GMT
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4996"
            X-Ratelimit-Reset:
                - "1774534824"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "4"
        status: 200 OK
        code: 200
        duration: 190.346042ms
