---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        form:
            per_page:
                - "100"
        headers:
        url: https://gitlab.com/api/v4/groups/12345/members/all?per_page=100
        method: GET
      response:
        body: '[{"id":1000001,"username":"jane.doe","public_email":"","name":"Jane Doe","state":"active","locked":false,"avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1000001/avatar.png","web_url":"https://gitlab.com/jane.doe","access_level":50,"created_at":"2024-01-15T10:00:00.000Z","expires_at":null,"membership_state":"active"}]'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"865471874cf5294ecdf14af2b23ad593"
            Gitlab-Lb:
                - haproxy-main-51-lb-gprd
            Gitlab-Sv:
                - api-gke-us-east1-d
            Link:
                - <https://gitlab.com/api/v4/groups/12345/members/all?id=12345&page=1&per_page=100>; rel="first", <https://gitlab.com/api/v4/groups/12345/members/all?id=12345&page=1&per_page=100>; rel="last"
            Ratelimit-Limit:
                - "2000"
            Ratelimit-Name:
                - throttle_authenticated_api
            Ratelimit-Observed:
                - "2"
            Ratelimit-Remaining:
                - "1998"
            Ratelimit-Reset:
                - "1778258400"
            X-Gitlab-Meta:
                - '{"correlation_id":"9f89e63e6d2cf0b7-CDG","version":"1"}'
            X-Next-Page:
                - ""
            X-Page:
                - "1"
            X-Per-Page:
                - "100"
            X-Prev-Page:
                - ""
            X-Total:
                - "1"
            X-Total-Pages:
                - "1"
        status: 200 OK
        code: 200
        duration: 554.994208ms
