---
version: 2
interactions:
    - id: 0
      request:
        host: api.intercom.io
        headers:
            Intercom-Version:
                - "2.11"
        url: https://api.intercom.io/admins
        method: GET
      response:
        body: '{"type":"admin.list","admins":[{"type":"admin","email":"john@example.com","id":"1000001","name":"John Smith","away_mode_enabled":false,"away_mode_reassign":false,"has_inbox_seat":true,"team_ids":[],"team_priority_level":{}},{"type":"admin","email":"operator+abc12345@intercom.io","id":"1000002","name":"Fin","away_mode_enabled":false,"away_mode_reassign":false,"has_inbox_seat":false,"team_ids":[],"team_priority_level":{}},{"type":"admin","email":"jane@example.com","id":"1000003","name":"Jane Doe","away_mode_enabled":false,"away_mode_reassign":false,"has_inbox_seat":false,"team_ids":[],"team_priority_level":{}},{"type":"admin","email":"alice@example.com","id":"1000004","name":"Alice Martin","away_mode_enabled":false,"away_mode_reassign":false,"has_inbox_seat":true,"team_ids":[],"team_priority_level":{}},{"type":"admin","email":"bob@example.com","id":"1000005","name":"Bob Wilson","away_mode_enabled":false,"away_mode_reassign":false,"has_inbox_seat":true,"team_ids":[],"team_priority_level":{}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"30ffa246aba4cabfe8d217fabf428f69"
            Intercom-Version:
                - "2.11"
            Status:
                - 200 OK
            X-Ami-Version:
                - ami-050d1869df3666e48
            X-Intercom-Version:
                - 84c7300b1acdba8bde4ff55a5b497e18b5f93395
            X-Request-Queueing:
                - "0"
        status: 200 OK
        code: 200
        duration: 430.684583ms
