---
version: 2
interactions:
    - id: 0
      request:
        host: api.pagerduty.com
        form:
            limit:
                - "100"
            offset:
                - "0"
        headers:
        url: https://api.pagerduty.com/users?limit=100&offset=0
        method: GET
      response:
            - chunked
        body: '{"users":[{"name":"Jane Doe","email":"jane@example.com","time_zone":"Europe/Paris","color":"purple","avatar_url":"https://secure.gravatar.com/avatar/00000000000000000000000000000000.png?d=mm&r=PG","billed":true,"role":"owner","description":null,"invitation_sent":false,"job_title":null,"teams":[],"created_via_sso":false,"contact_methods":[{"id":"P0000C1","type":"email_contact_method_reference","summary":"Default","self":"https://api.pagerduty.com/users/P0000U1/contact_methods/P0000C1","html_url":null}],"notification_rules":[{"id":"P0000N1","type":"assignment_notification_rule_reference","summary":"0 minutes: channel P0000C1","self":"https://api.pagerduty.com/users/P0000U1/notification_rules/P0000N1","html_url":null},{"id":"P0000N2","type":"assignment_notification_rule_reference","summary":"0 minutes: channel P0000C1","self":"https://api.pagerduty.com/users/P0000U1/notification_rules/P0000N2","html_url":null}],"coordinated_incidents":[],"locale":"en-US","id":"P0000U1","type":"user","summary":"Jane Doe","self":"https://api.pagerduty.com/users/P0000U1","html_url":"https://dev-acme.pagerduty.com/users/P0000U1"}],"limit":100,"offset":0,"total":null,"more":false}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - W/"09ba436771761ce6a844d74ec51ac6d9"
            Ratelimit-Limit:
                - "960"
            Ratelimit-Remaining:
                - "959"
            Ratelimit-Reset:
                - "54"
        status: 200 OK
        code: 200
        duration: 814.680625ms
