---
version: 2
interactions:
    - id: 0
      request:
        host: api.resend.com
        headers:
        url: https://api.resend.com/api-keys
        method: GET
      response:
        body: '{"object":"list","has_more":false,"data":[{"id":"00000001-0000-0000-0000-000000000001","name":"test_key","created_at":"2026-03-26 12:18:58.314592+00","last_used_at":null},{"id":"00000001-0000-0000-0000-000000000002","name":"production","created_at":"2025-11-03 12:33:51.313755+00","last_used_at":"2026-03-05 18:57:57.73093+00"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"146-DfTVyEh9Ui32i8/Mql/EiL8sQdI"
            Ratelimit-Limit:
                - "5"
            Ratelimit-Policy:
                - 5;w=1
            Ratelimit-Remaining:
                - "4"
            Ratelimit-Reset:
                - "1"
        status: 200 OK
        code: 200
        duration: 192.141167ms
