---
version: 2
interactions:
    - id: 0
      request:
        host: api.sendgrid.com
        form:
            limit:
                - "500"
            offset:
                - "0"
        headers:
        url: https://api.sendgrid.com/v3/teammates?limit=500&offset=0
        method: GET
      response:
        body: |
            {"result":[{"username":"owner@example.com","email":"owner@example.com","first_name":"","last_name":"","address":"","address2":"","city":"","state":"","zip":"","country":"","company":"","website":"","phone":"","is_admin":true,"is_sso":false,"user_type":"owner","is_unified":true,"is_partner_sso":false},{"username":"taylor-teammate","email":"taylor@example.com","first_name":"Taylor","last_name":"Teammate","is_admin":false,"is_sso":true,"user_type":"teammate","is_unified":false,"is_partner_sso":false},{"username":"pending-invite","email":"","first_name":"","last_name":"","is_admin":false,"is_sso":false,"user_type":"teammate","is_unified":false,"is_partner_sso":false}]}
        headers:
            Content-Type:
                - application/json; charset=utf8
            Link:
                - <https://chaos.ing.customer-growth-eng.general-prod-a.us-east-2.aws.k8s.sendgrid.net/v3/teammates?limit=500&offset=0>; rel="first"; title="1", <https://chaos.ing.customer-growth-eng.general-prod-a.us-east-2.aws.k8s.sendgrid.net/v3/teammates?limit=500&offset=0>; rel="last"; title="1"
            Powered-By:
                - Mako
            X-Client-Ff:
                - "1000"
            X-Ratelimit-Limit:
                - "600"
            X-Ratelimit-Remaining:
                - "599"
            X-Ratelimit-Reset:
                - "1780576260"
        status: 200 OK
        code: 200
        duration: 323.748208ms
    - id: 1
      request:
        host: api.sendgrid.com
        headers:
        url: https://api.sendgrid.com/v3/teammates/owner@example.com
        method: GET
      response:
            - chunked
        body: |
            {"username":"owner@example.com","email":"owner@example.com","first_name":"","last_name":"","address":"","address2":"","city":"","state":"","zip":"","country":"","company":"","website":"","phone":"","is_admin":true,"is_sso":false,"user_type":"owner","scopes":["2fa_exempt","2fa_required","access_settings.activity.read","access_settings.whitelist.create","access_settings.whitelist.delete","access_settings.whitelist.read","access_settings.whitelist.update","alerts.create","alerts.delete","alerts.read","alerts.update","api_keys.create","api_keys.delete","api_keys.read","api_keys.update","asm.groups.create","asm.groups.delete","asm.groups.read","asm.groups.suppressions.create","asm.groups.suppressions.delete","asm.groups.suppressions.read","asm.groups.su[...]
    - id: 2
      request:
        host: api.sendgrid.com
        headers:
        url: https://api.sendgrid.com/v3/teammates/taylor-teammate
        method: GET
      response:
            - chunked
        body: |
            {"username":"taylor-teammate","email":"taylor@example.com","first_name":"Taylor","last_name":"Teammate","is_admin":false,"is_sso":true,"user_type":"teammate","is_unified":false,"is_partner_sso":false,"scopes":["mail.send","2fa_required"]}
        headers:
            Content-Type:
                - application/json; charset=utf8
        status: 200 OK
        code: 200
        duration: 18ms
