---
version: 2
interactions:
    - id: 0
      request:
        host: slack.com
        form:
            limit:
                - "200"
        url: https://slack.com/api/users.list?limit=200
        method: GET
      response:
        body: '{"ok":true,"members":[{"id":"USLACKBOT","name":"slackbot","is_bot":false,"updated":0,"is_app_user":false,"team_id":"T00AAAAAAA","deleted":false,"color":"757575","is_email_confirmed":false,"real_name":"Slackbot","tz":"America/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"Slackbot","display_name":"Slackbot","avatar_hash":"sv41d8cd98f0","real_name_normalized":"Slackbot","display_name_normalized":"Slackbot","image_24":"","image_32":"","image_48":"","image_72":"","image_192":"","image_512":"","first_name":"slackbot","last_name":"","team":"T00AAAAAAA","title":"","phone":"","skype":"","fields":{},"status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"always_active":true}},{"id":"U00AAAAAA01","name":"toolsadmin","is_bot":false,"updated":1757334170,"is_app_user":false,"team_id":"T00AAAAAAA","deleted":true,"profile":{"real_name":"Tools Admin","display_name":"","avatar_hash":"","real_name_normalized":"Tools Admin","display_name_normalized":"","image_24":"","image_32":"","image_48":"","image_72":"","image_192":"","image_512":"","first_name":"Tools","last_name":"Admin","team":"T00AAAAAAA","email":"toolsadmin@example.com","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0}},{"id":"U00AAAAAA02","name":"alice","is_bot":false,"updated":1773673016,"is_app_user":false,"team_id":"T00AAAAAAA","deleted":false,"color":"4bbe2e","is_email_confirmed":true,"real_name":"Alice Martin","tz":"Europe/Brussels","tz_label":"Central European Time","tz_offset":3600,"is_admin":true,"is_owner":true,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"has_2fa":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"Alice Martin","display_name":"","avatar_hash":"","real_name_normalized":"Alice Martin","display_name_normalized":"","image_24":"","image_32":"","image_48":"","image_72":"","image_192":"","image_512":"","image_1024":"","image_original":"","is_custom_image":true,"first_name":"Alice","last_name":"Martin","team":"T00AAAAAAA","email":"alice@example.com","title":"CEO of Acme Corp","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"huddle_state":"default_unset","huddle_state_expiration_ts":0}},{"id":"U00AAAAAA03","name":"bob","is_bot":false,"updated":1774513102,"is_app_user":false,"team_id":"T00AAAAAAA","deleted":false,"color":"e7392d","is_email_confirmed":true,"real_name":"Bob Smith","tz":"Europe/Brussels","tz_label":"Central European Time","tz_offset":3600,"is_admin":true,"is_owner":true,"is_primary_owner":true,"is_restricted":false,"is_ultra_restricted":false,"has_2fa":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"Bob Smith","display_name":"Bob","avatar_[...]
