---
version: 2
interactions:
    - id: 0
      request:
        host: api.tailscale.com
        headers:
        url: https://api.tailscale.com/api/v2/tailnet/-/users
        method: GET
      response:
        body: '{"users":[{"id":"u1abc123","displayName":"Jane Doe","loginName":"jane@acme.example.com","profilePicUrl":"","tailnetId":"tn1","created":"2024-01-15T10:00:00Z","type":"member","role":"admin","status":"active","deviceCount":2,"lastSeen":"2025-03-01T08:30:00Z","currentlyConnected":true},{"id":"u2def456","displayName":"Bob Smith","loginName":"bob@acme.example.com","profilePicUrl":"","tailnetId":"tn1","created":"2024-06-20T14:00:00Z","type":"member","role":"member","status":"suspended","deviceCount":0,"lastSeen":"2024-12-01T12:00:00Z","currentlyConnected":false}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 100ms
