---
version: 2
interactions:
    - id: 0
      request:
        host: api.tally.so
        headers:
        url: https://api.tally.so/organizations/wvBzxD/users
        method: GET
      response:
        body: '[{"id":"xA1bCD","firstName":"Alice","lastName":"Johnson","email":"alice@example.com","avatarUrl":"","isBlocked":false,"isDeleted":false,"timezone":"Europe/Paris","isUnknownDeviceVerificationDisabled":false,"createdAt":"2025-10-24T14:51:36.000Z","updatedAt":"2026-03-26T13:54:30.000Z","organizationId":"org001","fullName":"Alice Johnson","ssoIsConnectedWithGoogle":true,"ssoIsConnectedWithApple":false,"hasPasswordSet":true,"authenticationMethodsCount":2,"hasTwoFactorEnabled":true,"emailDomain":null},{"id":"yB2cDE","firstName":"Bob","lastName":"Smith","email":"bob@example.com","avatarUrl":"","isBlocked":false,"isDeleted":false,"timezone":"Europe/Paris","isUnknownDeviceVerificationDisabled":false,"createdAt":"2025-10-25T16:48:52.000Z","updatedAt":"2026-03-23T11:42:00.000Z","organizationId":"org001","fullName":"Bob Smith","ssoIsConnectedWithGoogle":true,"ssoIsConnectedWithApple":false,"hasPasswordSet":false,"authenticationMethodsCount":1,"hasTwoFactorEnabled":false,"emailDomain":null},{"id":"zC3dEF","firstName":"Carol","lastName":"Williams","email":"carol@example.com","avatarUrl":"","isBlocked":false,"isDeleted":false,"timezone":"Europe/Paris","isUnknownDeviceVerificationDisabled":false,"createdAt":"2025-12-01T13:38:59.000Z","updatedAt":"2026-03-06T09:47:20.000Z","organizationId":"org001","fullName":"Carol Williams","ssoIsConnectedWithGoogle":true,"ssoIsConnectedWithApple":false,"hasPasswordSet":false,"authenticationMethodsCount":1,"hasTwoFactorEnabled":false,"emailDomain":null}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"f19-hbZ8t5Tve+qpDeG+/EcW1dXDiZM"
            Origin-Agent-Cluster:
                - ?1
            X-Cloud-Trace-Context:
                - 7337a79cb9f6d2c654df69076505ff5a
            X-Ratelimit-Limit:
                - "100"
            X-Ratelimit-Remaining:
                - "95"
            X-Ratelimit-Reset:
                - "1774533375"
        status: 200 OK
        code: 200
        duration: 77.593208ms
    - id: 1
      request:
        host: api.tally.so
        headers:
        url: https://api.tally.so/organizations/wvBzxD/invites
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
            Origin-Agent-Cluster:
                - ?1
            X-Cloud-Trace-Context:
                - 38b42db0f009bb00781397cecba8b838
            X-Ratelimit-Limit:
                - "100"
            X-Ratelimit-Remaining:
                - "94"
            X-Ratelimit-Reset:
                - "1774533375"
        status: 200 OK
        code: 200
        duration: 48.255292ms
